<?xml version="1.0"?>
<!--
/**
 * Copyright © Intenso Commerce. All rights reserved.
 * See License.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="review_save_after">
        <observer name="review" instance="Intenso\Review\Observer\ReviewAfterSave" shared="false" />
    </event>
    <event name="controller_action_postdispatch_review_product_post">
        <observer name="review_product_post" instance="Intenso\Review\Observer\SyncReviewAfterSave" shared="false" />
    </event>
    <event name="controller_action_postdispatch_intenso_review_map_post">
        <observer name="intenso_review_map_post" instance="Intenso\Review\Observer\SyncReviewAfterSave" shared="false" />
    </event>
</config>
