<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="paymentfee" translate="label" type="text" sortOrder="321" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Payment Charges</label>
            <tab>sales</tab>
            <resource>Scrumwheel_PaymentCost::config</resource>
            <group id="config" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Payment Method Charges</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Payment Method Fee Functionality</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="fee" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Fee</label>
                    <frontend_model>Scrumwheel\PaymentCost\Block\Adminhtml\System\Form\Field\PaymentFee</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
