<!--
/**
 * Copyright © Intenso Commerce. All rights reserved.
 * See License.txt for license details.
 */
-->
<!--@subject {{trans "New comment at %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var comment.getProductName()":"Product Name",
"var comment.getNickname()":"Comment Author Nickname",
"var comment.getCommentAuthorEmail()":"Comment Author Email",
"var comment.getComment()":"Comment Detail",
"var comment.getStatus()":"Comment Status",
"var comment.getEditCommentUrl()":"Edit Comment URL",
"var store.getFrontendName()":"Store Name"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "New comment notification.}}</p>
            <p>
                {{trans "A new comment for one of the reviews of %product_name has been received." product_name=$comment.getProductName()}}
            </p>
            <p>
                {{trans "Comment from"}} <strong>{{var comment.getNickname() }}</strong>:
                <br>
                <i>{{var comment.getComment()}}</i>
            </p>
            <p>
                {{trans "The status of this comment is: %status" status=$comment.getStatus()}} (<a href="{{var comment.getEditCommentUrl()}}">{{trans "Manage comment"}}</a>)
            </p>
        </td>
    </tr>
</table>
