<!--
/**
 * Copyright © Intenso Commerce. All rights reserved.
 * See License.txt for license details.
 */
-->
<!--@subject {{trans "You got a new comment for your review at %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var comment.getProductName()":"Product Name",
"var comment.getReviewerNickname()":"Customer Nickname",
"var comment.getReviewerEmail()":"Customer Email",
"var comment.getNickname()":"Comment Author Nickname",
"var comment.getText()":"Comment Detail",
"var store.getFrontendName()":"Store Name"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello %customer_name," customer_name=$comment.getReviewerNickname()}}</p>
            <p>
                {{trans "Someone has commented on the review you wrote for %product_name." product_name=$comment.getProductName()}}
            </p>
            <p>
                {{trans "Comment from"}} <strong>{{var comment.getNickname()}}</strong>:
                <br>
                <i>{{var comment.getText()}}</i>
            </p>
            <p>
                {{trans "You can check the comment and reply here: %url" url=$comment.getReviewUrl()}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
