<?xml version="1.0"?>
<!--
/**
 * Copyright © Intenso Commerce. All rights reserved.
 * See License.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Magento_Backend::marketing_user_content">
                        <resource id="Intenso_Review::review_manage" title ="Comments" sortOrder="20"/>
                    </resource>
                    <resource id="Magento_Backend::marketing_communications">
                        <resource id="Intenso_Review::maplog_manage" title ="Mail After Purchase Log" sortOrder="50"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Intenso_Review::review" title="Intenso Reviews Config"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
